<nav>
    <a href="/">Home</a>
    <% if (user) { %>
        <a href="/recipes">View my recipes</a>
        <a href="/auth/sign-out">Sign out</a>
    <%} else {%>
        <a href="/auth/sign-up">Sign up</a> or
        <a href="/auth/sign-in">Sign in</a>.
    <%}%>
  </nav>